#export NMD_MODE=standalone # consumer | producer | standalone
export NMD_MODE=consumer # consumer | producer | standalone
#export NMD_MODE=producer # consumer | producer | standalone
export NMD_DEPLOYMENT=martins
#export RABBITMQ_SSL_CACERT=cert/ca_certificate.pem ## (not necessary for pike)
export RABBITMQ_SSL_CERTFILE=
export RABBITMQ_SSL_PKEYFILE=
#export RABBITMQ_SSL_KEYFILE= ## (not necesary for pika) openssl pkey -in cert/client_key.pem -out cert/client_key.key
export RABBITMQ_SSL_CERTPASS=
export RABBITMQ_SSL_HOST=
export RABBITMQ_SSL_PORT=
export RABBITMQ_SSL_USER=
export RABBITMQ_SSL_PASS=
export RABBITMQ_SSL_TOPIC=
export INFLUXDB_ENABLE=true
export INFLUXDB_HOST=
export INFLUXDB_PORT=
export INFLUXDB_WRITE_USER=
export INFLUXDB_WRITE_USER_PASSWORD=
export INFLUXDB_DB=
export MMGEOIP_ENABLE=
export MMGEOIP_ID=
export MMGEOIP_KEY=
